{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current",
          "browsers": ["last 2 versions"],
          "chrome": 43,
          "android": 43,
          "ie": 11
        }
      }
    ]
  ]
}
